.aboutus-card-title {
    text-align: center;
    font-size: 2rem;
}

.aboutus-card {
    background-color: white;
    font-size: 1.5rem;
    padding:20px;
}

.aboutus-card-container {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.aboutus-ip {
    padding-top:10px;
}

.aboutus-ip #ip {
    color: aqua;
}
