.led-red {
    width: 8px;
    height: 8px;
    margin-left: 232px;
    margin-top: -24px;
    background-color: rgb(223, 0, 0);
    border-radius: 50%;
    box-shadow: rgb(255, 0, 0) 0 -1px 7px 1px, inset rgb(219, 0, 0) 0 -1px 9px, #F00 0 2px 12px;
}

.led-green {
    width: 8px;
    height: 8px;
    margin-left: 230px;
    margin-top: -22px;
    background-color: rgb(0, 255, 21);
    border-radius: 50%;
    box-shadow: rgb(33, 196, 0) 0 -1px 7px 1px, inset rgb(153, 230, 0) 0 -1px 9px, rgb(136, 255, 0) 0 2px 12px;
}
