.server-status {
    text-align: left;
    padding-top: 10px;
    height: 250px;
    padding-bottom: 310px;
}

.server-status-img {
    width: 130px;
    height: auto;
    float: left;
    padding-right: 10px;
}

.server-status-info {
    vertical-align: middle;
    display: inline;
}

.server-status p, .server-status h2 {
    padding-bottom: 12px;
}

.status-player-head-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.status-player-head-img {
    width: 75px;
}

.server-status-noplayer {
    text-align: center;
    font-size: 2rem;
}