<!DOCTYPE html>
<html class="masterpage" id="masterpage" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bits Minecraft</title>
    <link href="/static/styles/w3.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon"/>
</head>
<body>
<nav class="navbar">
    <h1 class="title"><a href="/"><img alt="Bits Logo"
                                       class="logo"
                                       src="{{ url_for('static', filename='assets/images/logo_transparent.png') }}"/></a>Bits</h1>
    <div class="listcontainer">
        <ul class="list">
            <li class="link" onclick="location.href='/'">Home</li>
            <li class="link" id="store" onclick="location.href='/store'">Store</li>
            <li class="link" id="donate" onclick="location.href='/donate'">Donate</li>
            <li class="link" id="downloads" onclick="location.href='/downloads'">Downloads</li>
            <li class="link" onclick="document.getElementById('modal').style.display='block'">BitsVoice</li>
            <li class="link" id="bitsplus" onclick="location.href='/bitsplus'">Bits+</li>
            <div class="dropdown">
                <li class="link">Other</li>
                <div class="dropdown-content">
                    <ul>
                        <li><a href="/player-profiles">Player Profiles</a></li>
                        <li><a href="/rules-whitelist">Rules/Whitelist</a></li>
                        <li><a href="/plugin-info">Plugin Info</a></li>
                        <li><a href="/events">Events</a></li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
</nav>

<div class="w3-modal" id="modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-blue">
        <span class="w3-button w3-display-topright"
              onclick="document.getElementById('modal').style.display='none'">&times;</span>
            <h2>BitsVoice...</h2>
        </header>
        <div class="w3-container">
            <p>...is coming soon... Stay tuned...</p>
        </div>
    </div>
</div>
<div class="page-content"></div>
{% block content %}
{% endblock %}
</body>
</html>