{% extends "base.html" %}
{% block content %}
<link href="../static/styles/downloads.css" rel="stylesheet">
<div class="downloads-page">
    <ul class="w3-ul w3-card-4 w3-white downloads-list">
        <li class="downloads-list-subheading"><h3>World Downloads</h3></li>
        <li class="downloads-list-item" onclick="wd1Redirect()" onmouseout="wd1Off()" onmouseover="wd1On()">Season 1
            Download
        </li>
        <li class="downloads-list-item" onclick="wd2Redirect()" onmouseout="wd2Off()" onmouseover="wd2On()">Season 2
            Download
        </li>
        <li class="downloads-list-item" onclick="wd3Redirect()" onmouseout="wd3Off()" onmouseover="wd3On()">Season 3
            Download
        </li>
        <li class="downloads-list-item" onclick="wd4Redirect()" onmouseout="wd4Off()" onmouseover="wd4On()">Season 4
            Download
        </li>
        <li class="downloads-list-item" onclick="wd5Redirect()" onmouseout="wd5Off()" onmouseover="wd5On()">Season 5
            Download
        </li>
        <li class="downloads-list-subheading"><h3>Resource Packs</h3></li>
        <li class="downloads-list-item" onclick="vResourceRedirect()" onmouseout="vResourceOff()"
            onmouseover="vResourceOn()">Bits Resource Pack
        </li>
        <li class="downloads-list-item" onclick="bResourceRedirect()" onmouseout="bResourceOff()"
            onmouseover="bResourceOn()">Bits+ Resource Pack
        </li>
    </ul>
</div>
<script src="../static/scripts/downloads.js"></script>
{% endblock %}