{% extends "base.html" %}
{% block content %}
<link href="../static/styles/events.css" rel="stylesheet">
<script src=".././static/scripts/events.js"></script>

<div>
    <h1 class="events-header">Events</h1>
    <p class="events-subheader">Below is an agenda containing all upcoming Bits events, <strong>adjusted to your timezone.</strong> See something you like? Get
        involved!<br><br>Head to Discord, and do <code>!bob rsvp [event name]</code> to rsvp!</p>
    <div class="table-container w3-responsive">
        {% if not events_list %}
            <h2 class="no-events">There are no upcoming events...</h2>
        {% else %}
            <table id="events-table" class="w3-table-all w3-card-4 event-table">
                <tr>
                    <th class="events-table-header">Name</th>
                    <th class="events-table-header">Time</th>
                    <th class="events-table-header">Date</th>
                </tr>
                    {% for event in events_list %}
                        <script>addEventToList('{{ event.name }}', '{{ event.time }}', '{{ event.date }}')</script>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
</div>

{% endblock %}