{% extends "base.html" %}
{% block content %}
<link href="../static/styles/profile.css" rel="stylesheet">
<h1 class="profiles-header">Player Profiles</h1>
<h3 class="profiles-subheader">Here are some introductions from our players introducing themselves!</h3>

<div class="profiles-grid">
    {% for player in profiles %}
    <div class="profile-card w3-card-4">

        <header class="w3-container w3-blue profile-header">
            <h1>{{ player.name }}</h1>
        </header>

        <div class="profile-content">
            <div class="w3-container">
                {{ player.html_profile | safe }}
            </div>
            <img class="profile-img" src="{{ player.player_img }}">
        </div>

    </div>

    {% endfor %}
</div>

{% endblock %}
