{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/styles/rules-whitelist.css">

<h1 class="rules-whitelist-header">Rules and Whitelist</h1>

<div class="w3-card-4 rules-whitelist-card">
<p class="rules-whitelist-disclaimer">Interested in joining our community? We would love to have you! Give the rules below a read, and when your ready, head on over to our
    <a href="https://discord.gg/Arfcnku">Discord server</a> and submit your whitelist application in the #whitelist channel!</p>
<div class="rules-whitelist-grid">
    <div class="rules-list w3-card-4">
        <ul class="w3-ul w3-border">
            <li><h2>Rules</h2></li>
            <li><strong>1. Be respectful towards others</strong>, regardless of your liking towards them. Racism, harassment, sexism, etc is NOT tolerated.</li>
            <li><strong>2. No advertising</strong> of any kind.</li>
            <li><strong>3. No spamming</strong> of either short frequent messages, or extremely long copy pastas.</li>
            <li><strong>4. No extreme NSFW content</strong> including your avatar, gifs, videos, nicknames, status, etc.</li>
            <li><strong>5. No griefing or raiding</strong></li>
</ul>
    </div>
    <div class="whitelist-list w3-card-4">
        <ul class="w3-ul w3-border ">
          <li><h2>Whitelist Questions</h2></li>
          <li><strong>1. What is your username?</strong></li>
          <li><strong>2. How old are you?</strong></li>
          <li><strong>3. Why would you like to join the server?</strong></li>
            <li><strong>4. What is rule 3?</strong></li>
        </ul>

    </div>
    </div>

    <button class="w3-button w3-blue w3-round whitelist-button" onclick="location.href='https://discord.gg/Arfcnku'">Apply through Discord</button>
</div>

{% endblock %}
