{% extends "base.html" %}
{% block content %}
<link href="../static/styles/statistics.css" rel="stylesheet">
<div class="statistics-page">
    <h1 class="statistics-header">Statistics</h1>
    <p class="statistics-subheading">Here are some leaderboards for the statistics found on the server. Can you top the
        charts?</p>
    <div class="seasons-statistics">
        {% if top_3|length >= 3 %}
        <h2 class="top-3-header">Top 3</h2>
        <div class="top-3-grid">
        <div class="w3-card-4 w3-white top-3-card">
            <img class="top-head-img" src="https://visage.surgeplay.com/head/{{ top_3[0].uuid }}"  alt="">
                <div class="w3-container w3-center">
                    <p><span class="top-3-bolder">{{ top_3[0].name }}</span><img class="medal-img" src="../static/assets/images/medalicons/gold.png" alt=""> Total Score: <span class="top-3-bolder">{{ top_3[0].total_score }}</span></p>
              </div>
        </div>
        <div class="w3-card-4 w3-white top-3-card">
            <img class="top-head-img" src="https://visage.surgeplay.com/head/{{ top_3[1].uuid }}"  alt="">
                <div class="w3-container w3-center">
                    <p><span class="top-3-bolder">{{ top_3[1].name }}</span><img class="medal-img" src="../static/assets/images/medalicons/silver.png" alt=""> Total Score: <span class="top-3-bolder">{{ top_3[1].total_score }}</span></p>
              </div>
        </div>
        <div class="w3-card-4 w3-white top-3-card">
            <img class="top-head-img" src="https://visage.surgeplay.com/head/{{ top_3[2].uuid }}"  alt="">
                <div class="w3-container w3-center">
                    <p><span class="top-3-bolder">{{ top_3[2].name }}</span><img class="medal-img" src="../static/assets/images/medalicons/bronze.png" alt=""> Total Score: <span class="top-3-bolder">{{ top_3[2].total_score }}</span></p>
              </div>
        </div>
            </div>
        {% endif %}


        <h2 class="all-seasons-header">All Seasons Ranked</h2>
        <div class="w3-bar w3-blue statistics-season-button-bar">
            {% for server in seasons %}
            <button class="w3-bar-item w3-button" onclick='openSeason("{{ server.get_sql_id() }}")'>{{ server.name }}
            </button>
            {% endfor %}
        </div>
        <div class="seasons_container">
            {% for server in seasons %}
            <div class="season" id="{{ server.get_sql_id() }}" style="display:none"></div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="../static/scripts/statistics.js"></script>
<script src="../static/scripts/components/accordion.js"></script>
<script>openSeason(parseInt('{{ default }}'))</script>
{% endblock %}