.donate-header {
    font-size: 5rem;
    color: white;
    text-shadow: 0px 2px 3px #000000;
    text-align: center;
    padding: 25px;
}

.donate-card {
    background-color: white;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.donate-card-header {
    font-size: 3rem;
    padding: 10px;
}

.donate-card p, .donate-card li {
    font-size: 1.5rem;
}

.shortened {
    display:inline-block;
    -webkit-transform:scale(0.5,1); /* Safari and Chrome */
    -moz-transform:scale(0.5,1); /* Firefox */
    -ms-transform:scale(0.5,1); /* IE 9 */
    -o-transform:scale(0.5,1); /* Opera */
    transform:scale(0.5,1); /* W3C */
    margin-right: -30px;
    margin-left: -30px;
}

.donate-card ul {
    list-style-position: inside;
}

.donate-information {
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;

}

.donate-information p {
    color: white;
    font-size: 1.5rem;
    padding: 5px;
}

.donate-button {
    padding: 20px;
}

.donate-page {
    min-height: 100%;
}

.donor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
    column-gap: 5px;
    row-gap: 5px;
    padding-bottom: 550px;
}

.donor-head-image {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
}

.donor-head-card {
    background-color: white;
}

.donor-head-text {
    padding: 5px;
}

.donor-head-title {
    color: white;
    text-shadow: 0px 2px 3px #000000;
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}