.statistics-header {
    font-size: 5rem;
    color: white;
    text-shadow: 0px 2px 3px #000000;
    text-align: center;
    padding: 25px;
}

.seasons-statistics {
    width: 90%;
    margin: 0 auto;
}

.statistics-table {
    width: 50%;
    margin: 0 auto;
}

.statistics-container {
    padding: 20px;
}

.top-3-header {
    color: white;
    text-shadow: 0px 2px 3px #000000;
    font-size: 3rem;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 30px;
}

.all-seasons-header {
    color: white;
    text-shadow: 0px 2px 3px #000000;
    font-size: 3rem;
    padding-bottom: 5px;
    padding-top: 50px;
}

.medal-img {
    width: 25px;
}

.statistics-page {
    min-height: 100vh;
}

.top-head-img {
    width: 250px;
}

.statistics-head-img {
    width: 35px;
    padding-right: 5px;
}

.statistics-subheading {
    color: white;
    text-shadow: 0px 1px 2px #000000;
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-3-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.top-3-card {
    font-size: 1.2rem;
    padding: 10px;
    margin: 5px;
    width: 500px;
}

.top-3-bolder {
    font-weight: bolder;
}