.tutorial-info-card {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px;
    margin-top: 50px;
}

.hyperlink:link {
    color: blue;
}

.hyperlink:visited {
    color: purple;
}

ol,
ul {
    list-style-position: inside;
}

.tutorial-images {
    display: flex;
    justify-content: center;
    padding: 20px;
}

li,
h1,
p {
    padding: 5px;
}

.tutorial-page {
    min-height: 100vh;
}

.xbox-img {
    width: 25%;
}

.obs-img {
    width: 50%;
}

.rec-subheading {
    padding-top: 15px;
}

.installation-images {
    display: flex; 
    justify-content: center;
    padding: 20px;
 }

 #simplevoicechat {
     margin-bottom: 10px;
 }