<link rel="stylesheet" href="../../static/styles/components/aboutus.css">
<link rel="stylesheet" href="../../static/styles/components/tooltip.css">
<div class="aboutus-card-container w3-card-4">

    <header class="w3-container w3-blue aboutus-card-title">
      <h1>About Us</h1>
    </header>
    
    <div class="aboutus-card w3-container">
      <p>Welcome to Bits! A Minecraft and gaming community established in July 2017. We are a tight knit, laid back group of friends who have a passion for playing games with each other. We are on Season 4 of our community oriented vanilla server (currently version 1.16.x) with a sprawling community shopping and games district, friendly and helpful players, and fun community events.  Any of that interest you?
Apply for whitelist today! We would love to see you!</p>
      <div class="aboutus-ip">

        <p>Come play with us at:</p>
  
         <p data-tooltip="Click to Copy!" data-tooltip-location="bottom" id="ip" onclick="copied('play.bits.team')">play.bits.team</p>
          <button class="w3-button w3-blue w3-round whitelist-button" onclick="location.href='/rules-whitelist'">Apply for whitelist today!</button>
      </div>
    </div>

    {% include "components/aboutusanim.html" %}
  </div>

<script src="../../static/scripts/components/tooltip.js"></script>