<link href="../../static/styles/components/aboutusanim.css" rel="stylesheet">

<div class="about-us-anim">
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../static/assets/images/aboutus/sword_icon.png">
                    <h3>No PVP</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We are a PVP free server, so you can play with peace of mind and enjoy your time here</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../static/assets/images/aboutus/community_icon.png">
                    <h3>Whitelisted Community SMP</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We are heavily community based, with huge community games and shopping areas, and are always
                        willing to help, work or game together.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../static/assets/images/aboutus/block_icon.png">
                    <h3>Semi-Vanilla</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>We stay true to the vanilla feel of Minecraft, only adding things for your enjoyment or quality
                        of life.</p>
                </div>
            </div>
        </div>
    </div>
</div>