<link rel="stylesheet" href="../../static/styles/components/aboutus.css">
<link rel="stylesheet" href="../../static/styles/components/tooltip.css">
<div class="aboutus-card-container w3-card-4">

    <header class="w3-container w3-blue aboutus-card-title">
      <h1>About Us</h1>
    </header>
    
    <div class="aboutus-card w3-container">
      <p>Welcome to Bits! A Minecraft and gaming community established in July 2017. We are a tight knit group of friends who have a passion for playing games with each other. We have a community oriented 1.16.x vanilla server, along with a beta server for our large scale plugin that brings the kitchen sink modded Minecraft experience, to vanilla, currently with 300+ new blocks and items. Any of that interest you? Come say hi! We would love to see you!</p>
      <div class="aboutus-ip">

        <p>Come play with us at:</p>
  
         <p data-tooltip="Click to Copy!" data-tooltip-location="bottom" id="ip" onclick="copied('play.bits.team')">play.bits.team</p>
      </div>
    </div>

    {% include "components/aboutusanim.html" %}
  </div>

<script src="../../static/scripts/components/tooltip.js"></script>