<link rel="stylesheet" href="../../static/styles/components/accordion.css">

<div class="plugin-card">
    <button onclick="myFunction('tech')" class="w3-button w3-block w3-white w3-left-align">Tech ▼</button>
    <div id="tech" class="w3-hide w3-animate-opacity">
        <p>More of the sciencey type? Have zero regard for your carbon footprint? Bits+ has an expansive tech tree including multiple forms of power generation, a full suite of machinery including the familiar grinder and electric furnace, all the way to the electrolysers that make up one of the steps towards making your very own nuclear reactor in your backyard! Our tech tree also has a highly configurable fluid, item and power transportation system, automatic crop farming and more!</p>
    </div>
    <button onclick="myFunction('magic')" class="w3-button w3-block w3-white w3-left-align">Magic ▼</button>
    <div id="magic" class="w3-hide w3-animate-opacity">
        <p>Are you one of those people who just can not stop waving your big ol’ wand here, there and everywhere? Bits+ has a full magic system including wands, mana, combative and utility spells like a healing spell and a fire spell, spell creation system, brews with transportation system, and floating tools to let the mage that rages deep inside you scratch that mystical itch.</p>
    </div>
    <button onclick="myFunction('tools')" class="w3-button w3-block w3-white w3-left-align">Tools ▼</button>
    <div id="tools" class="w3-hide w3-animate-opacity">
        <p>Diamond tools just aren’t cutting it for you? No fear. With a whole hoard of new resources, there's no end of options for new tools with our custom tool making system, including forging your own tool parts and smacking them together with a hammer. But then what? You enchant them of course. Bits+ comes with a host of new enchantments including Auto-Smelt, Veinminer, and Soulbound! Still not good enough? Fine. How about you fly around your base your brand new jetpack, or broom if your more magically inclined!</p>
    </div>
    <button onclick="myFunction('utility')" class="w3-button w3-block w3-white w3-left-align">Utility ▼</button>
    <div id="utility" class="w3-hide w3-animate-opacity">
        <p>Are there some aspects of Minecraft that just grind your onions? No more! Bits+ adds many miscellaneous features to improve your quality of life in Minecraft! Chests on chests on chests of cobblestone? Use a storage barrel! Wheat taking 96 years to grow? Use a watering can! Your chest look like someone dropped a piece of live TNT in them? Hit middle click and sort it all into order! All this and more, with Bits+!</p>
    </div>
    <button onclick="myFunction('food')" class="w3-button w3-block w3-white w3-left-align">Food ▼</button>
    <div id="food" class="w3-hide w3-animate-opacity">
        <p>Bored of cooked fish? You must be. It’s all you’ve eaten your whole minecraft life. Bits+ has a culinary system with all new foodstuffs such as bacon cheeseburgers, chocolate milkshakes and fruit smoothies made from our custom, randomly generating fruit trees!</p>
    </div>
</div>
<script src="../../static/scripts/components/accordion.js"></script>