<link href="../../static/styles/components/discordcard.css" rel="stylesheet">
<div class="homepage-card discord-card w3-card-4">

    <header class="w3-container w3-blue">
        <h1>Discord Status</h1>
    </header>

    <div class="w3-container">
        <p class="discord-text"> Join our active discord server and apply for addition to the whitelist by pressing the
            connect button below! </p>
        <iframe allowtransparency="true" class="widget"
                frameborder="0" src="https://discordapp.com/widget?id=335482795562369025&theme=dark"></iframe>
    </div>
</div>