<link href="../../static/styles/components/accordion.css" rel="stylesheet">
<link href="../../static/styles/components/plugincategories.css" rel="stylesheet">

<div class="plugin-card">
    <p>We are a Semi-Vanilla server and stay true to the vanilla experience. However we use a minimal number of plugins
        to improve your quality of life and enjoyment while playing on the server. Information about each of them can be
        found below!</p>

    <div class="plugin-item">
        <h2>Simple Voice Chat</h2>
        <p>We make use of a mod called Simple Voice Chat, which adds proximity voice chat to Minecraft, so you can
            talk to other nearby players! It's mod page can be found <a class="hyperlink"
                href="https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat">here</a> to get yourself a
            download. If you need help installing the mod, check out the tutorials page <a class="hyperlink"
                href="/tutorials">here</a>.</p>
    <div class="plugin-item">
        <h2>Custom Plugin</h2>
        <div id="bitsplugin">
            <p>Our custom plugin ensures allows us to add features we think are right for the server. It's highlight
                features are listed below:</p>
            <ul>
                <li><code>/beam [player]</code> - Requests to teleport to the provided player
                </li>
                <li><code>/bed</code> - Teleports the player back to the bed they last slept in</li>
                <li><code>/rtp</code> - Teleports the player to a random location on the map</li>
                <li><code>/warp [warp]</code> - Teleports the player to the specified warp. Only used for community
                    areas, such as Spawn, Nether Hub, etc.
                </li>
                <li><code>/nick [nickname]</code> - Gives you the specified nickname</li>
                <li><code>/challenges</code> - Lots of challenges for cool rewards!</li>
                <li><code>/freecam</code> - Enters the player into freecam.</li>
                <li>Allays can be bred with Golden Apples. If they are near eachother, they will breed, and go on a 5 minute cooldown, like normal animals!</li>
                <li>Dragons have a 30% chance to drop an Elytra. No more endless end city searching!</li>
                <li>Mobs can be silenced by naming then "Silence Me".</li>
                <li>Item frames can be made invisible by splashing it with an invisibility potion.</li>
                <li>Leaves decay instantly!</li>
                <li>Mobs have a rare chance to drop their heads.</li>
            </ul>
        </div>
    </div>
    <div class="plugin-item">
        <h2>Wandering Trader Miniblocks</h2>
        <div id="miniblocks">
            <p>Wandering Trader trades have been replaced with mini blocks that you can use to add detail and decoration
                to your wonderful builds! For more information, click <a
                    href="https://www.youtube.com/watch?v=L3En7cuOdHY" rel="noopener noreferrer"
                    target="_blank">here</a>
            </p>
        </div>
    </div>
    <div class="plugin-item">
        <h2>Silence Mobs</h2>
        <div id="silence">
            <p>You can name a mob "Silence me" to quieten them down! Finally you can include mobs in your builds without
                ruining your ear drums! For more information, click
                <a href="https://www.youtube.com/watch?v=lfcwKXhjC9Y&t=487s" rel="noopener noreferrer"
                    target="_blank">here</a>
            </p>
        </div>
    </div>
    <div class="plugin-item">
        <h2>Invisible Item Frames</h2>
        <div id="invisible">
            <p>You can splash item frames with a potion of invisibility to make the item frame disappear, but leave the
                item remaining!</p>
        </div>
    </div>
    <div class="plugin-item">
        <h2>Armor Stand Posing</h2>
        <div id="armor">
            <p>Give your build the coolest statues on the server by posing them exactly how you envisioned! For more
                information, click
                <a href="https://www.youtube.com/watch?v=nV9-_RacnoI" rel="noopener noreferrer" target="_blank">here</a>
            </p>
        </div>
    </div>
</div>
<script src="../../static/scripts/components/accordion.js"></script>
