<div class="plugin-card">
    <p>We are a Semi-Vanilla server and stay true to the vanilla experience. However we use a minimal number of plugins to improve your quality of life and enjoyment while playing on the server. Information about each of them can be found below!</p>
    <div class="plugin-item"><h2>Custom Plugin</h2>
    <div id="bitsplugin">
        <p>Our custom plugin ensures allows us to add features we think are right for the server. It's highlight features are listed below:</p>
        <ul>
            <li><code>/beam [player]</code> - Requests to teleport to the provided player at the cost of a Beam Token</li>
            <li><code>/bed</code> - Teleports the player back to the bed they last slept in</li>
            <li><code>/rtp</code> - Teleports the player to a random location on the map</li>
            <li><code>/warp [warp]</code> - Teleports the player to the specified warp. Only used for community areas, such as Spawn, Nether Hub, etc.</li>
            <li><code>/nick [nickname]</code> - Gives you the specified nickname</li>
        </ul>
    </div>
        </div>
    <div class="plugin-item">
    <h2>Custom Advancements</h2>
    <div id="advancements">
        <p>We add our own custom achievements called Bits Questing Mode that get updated every season that provide more to work towards and act as a nice guide through the game. The categories of advancements are:</p>
        <table class="w3-table-all">
            <tr><th class="table-header">Advancement Type</th></tr>
            <tr><th>Farming/Food</th></tr>
            <tr><th>Enchanting</th></tr>
            <tr><th>Crafting</th></tr>
            <tr><th>Weaponry/Combat</th></tr>
            <tr><th>Resource Collection</th></tr>
            <tr><th>The End</th></tr>
            <tr><th>The Nether</th></tr>
            <tr><th>Redstone</th></tr>
        </table>
        <p>Some of the challenges found in the Questing mode will take some serious effort to complete, but they are all possible.</p>
    </div>
        </div>
    <div class="plugin-item">
    <h2>Custom Statistics</h2>
    <div id="statistics">
        <p>During your time playing the game, you may be rewarded for achieving a certain level of statistic. There are tons to discover, made up of both default Minecraft statistics and custom tracked ones, and each having 5 reward tiers of them. The more you work towards increasing the statistic, the better rewards you earn. Can you find them all, and top the leaderboards?</p>
    </div>
        </div>
    <div class="plugin-item">
    <h2>Wandering Trader Miniblocks</h2>
    <div id="miniblocks">
        <p>Wandering Trader trades have been replaced with mini blocks that you can use to add detail and decoration to your wonderful builds! For more information, click <a href="https://www.youtube.com/watch?v=L3En7cuOdHY" target="_blank" rel="noopener noreferrer">here</a></p>
    </div>
        </div>
    <div class="plugin-item">
    <h2>Silence Mobs</h2>
    <div id="silence">
        <p>You can name a mob "Silence me" to quieten them down! Finally you can include mobs in your builds without ruining your ear drums! For more information, click
            <a href="https://www.youtube.com/watch?v=lfcwKXhjC9Y&t=487s" target="_blank" rel="noopener noreferrer">here</a></p>
    </div>
        </div>
    <div class="plugin-item">
    <h2>Invisible Item Frames</h2>
    <div id="invisible">
        <p>You can splash item frames with a potion of invisibility to make the item frame disappear, but leave the item remaining!</p>
    </div>
        </div>
    <div class="plugin-item">
    <h2>Armor Stand Posing</h2>
    <div id="armor">
        <p>Give your build the coolest statues on the server by posing them exactly how you envisioned! For more information, click
            <a href="https://www.youtube.com/watch?v=nV9-_RacnoI" target="_blank" rel="noopener noreferrer">here</a></p>
    </div>
        </div>
</div>