<link rel="stylesheet" href="../../static/styles/components/serverstatus.css">

<div class="server-status vanilla-status">
    <img class="server-status-img" src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Bits Logo">
    <div class="server-status-info">
        <h2>Vanilla</h2>
        <p>Online: {{ vStatus["online"] }}</p>
        <p>Ip Address: play.bits.team</p>
        <p>Player Count: {{ vStatus["player_count"] }}</p>
    </div>

        <h2>Players Online:</h2>
        <div class="status-player-head-grid">
            {% for player in vStatus["player_img_srcs"] %}
            <img class="status-player-head-img" src="{{ player }}" alt="" />
            {% endfor %}
        </div>


</div>
<hr />
<div class="server-status bitsplus-status">
    <img class="server-status-img" src="{{ url_for('static', filename='assets/images/bitspluslogo.png') }}" alt="Bits+ Logo">
    <div class="server-status-info">
        <h2>Bits+</h2>
        <p>Online: {{ bStatus["online"] }}</p>
        <p>Ip Address: plus.bits.team</p>
        <p>Players Count: {{ bStatus["player_count"] }}</p>
    </div>
    <div class="player-head-container" id="player-head-container-bitsplus">
        <h2>Players Online:</h2>
        <div class="status-player-head-grid">
            {% for player in vStatus["player_img_srcs"] %}
                <img class="status-player-head-img" src="{{ player }}" alt="" />
            {% endfor %}
        </div>
    </div>
</div>